.DS_Store
_ignore/

# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
*.Rproj
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf

sftp-config.json
docs/assets
docs/index.html
docs/rd.Rmd
docs/rd.html
.Rproj.user

# user file
notes/

# knitr and R markdown default cache directories
markdown/*_cache/
markdown/*_files/
markdown/*.html

/cache/
